@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html, body{
    font-family:'Poppins', sans-serif;
    @apply text-primary bg-passive;
}

html, body, #root{
    height: 100%;
}

.layout-sidebar{
    @apply flex-1

}

.layout-main{
    @apply flex-3
}

.header{
    position: relative;
}

.header::after{
    left: -20px;
    bottom: 0;
    border-left: 5px solid;
    border-bottom: 5px solid;
}

.header::before{
    right: -20px;
    top: 0;
    border-right: 5px solid;
    border-top: 5px solid;
}

.header::after, 
.header::before{
    content:"";
    position: absolute;
    width: 20px;
    height: 20px;
    border-color: #ff3200;
}

.active{
    @apply text-main
}