@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html, body{
    font-family:'Poppins', sans-serif;
    @apply text-primary bg-passive h-full w-full;
}

.layout-sidebar{
    @apply flex-1

}

.layout-main{
    @apply flex-3

}